<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--构造方法注入 把 dao 注入到 service 层-->
    <bean id="userService" class="com.luobin.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>

    <!--集合注入 把集合注入到 dao层-->
    <bean id="userDao" class="com.luobin.dao.impl.UserDaoImpl"></bean>

</beans>